.dashboard {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "alias-header"
    "alias-controls"
    "alias-content";
  background-color: var(--gray-color);
  gap: 1rem;
}

.dashboard__header {
  grid-area: alias-header;
}

.dashboard__controls {
  grid-area: alias-controls;
}

.dashboard__content {
  grid-area: alias-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  border: 3px solid green;
}

@media (min-width: 576px) {
  .dashboard {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "alias-header     alias-header"
      "alias-controls   alias-content";
  }

  .dashboard__content {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}
